/auto_proof/data/
/auto_proof/test_data/
/auto_proof/first_data/
/auto_proof/configs/client_config_personal.json
.vscode
*.DS_Store
**/__pycache__/
*.egg-info/
**/.ipynb_checkpoints/
._*
code/pre-processing/__pycache__/data_utils.cpython-310.pyc
code/pre-processing/__pycache__/prune_edits.cpython-310.pyc
code/pre-processing/__pycache__/utils.cpython-310.pyc
core.*
build/
.neptune/